.Block {
    padding: 5px;
}

.HorizontalStack {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.HorizontalStackLeftElement {
    margin-left: auto;
}

.VerticalStack {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.StackNotExpandedElement {
    flex-grow: 0;
}

.StackExpandedElement {
    flex-grow: 1;
}

.StackExpanded2Element {
    flex-grow: 2;
}