.Root {
    width: 100%;
    height: 100%;
}

.ListTitle {
    -unity-font-style: bold;
    font-size: 14px;
    border-bottom-color: #474545;
    border-bottom-width: 2px;
}

.PackagesListView {
    border-bottom-color: #474545;
    border-bottom-width: 4px;
}

.PanelHeader {
    width: 100%;
    height: 30px;
    background-color: #3e424d;
    flex: none;
}

#FilterTextField {
    width: 60%;
}